In [1]:
import numpy as np
import pandas as pd
%load_ext autoreload
%autoreload 2
#import prediction
#from utils import load_data,get_data_day
import logging
logging.basicConfig(level=logging.INFO)
%matplotlib inline
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers import Masking

Using TensorFlow backend.

In [2]:
data=pd.read_csv('all_concentrations.csv')
data['date']=pd.to_datetime(data['date'])
data=data.set_index(['idPolair','date'])
# O3=pd.read_csv('fillna/O3.csv')
# O3['date']=pd.to_datetime(O3['date'])
# O3=O3.set_index(['idPolair','date'])
x=pd.read_csv('fillna/O3_AND_NO222.csv')
x['date']=pd.to_datetime(x['date'])
x=x.set_index(['idPolair','date'])
del data['Unnamed: 0']

In [69]:
data.isnull().sum(axis = 0)

NO2     1545720
O3      2157155
PM10    2024282
PM25    3911515
dtype: int64

In [4]:
NO2=pd.DataFrame(data['NO2'])

In [20]:
PM10=pd.DataFrame(data['PM10'])

In [21]:
PM10.shape

(4743412, 1)

In [22]:
x.shape

(4896210, 2)

In [23]:
NO2.head()

                               NO2
idPolair date
7001.0   2012-01-01 00:00:00   4.0
         2012-01-01 01:00:00   3.0
         2012-01-01 02:00:00  10.0
         2012-01-01 03:00:00   5.0
         2012-01-01 04:00:00   8.0

In [24]:
x.shape

(4896210, 2)

In [76]:
train=pd.merge(O3,NO2,left_index=True,right_index=True)

In [16]:
train2.shape

(8753350, 3)

In [25]:
train2=pd.merge(x,PM10,left_index=True,right_index=True)

In [27]:
train2.isnull().sum()

O3            0
NO2           0
PM10    3076748
dtype: int64

In [52]:
n.isnull().sum()

O3            0
NO2           0
PM10          0
PM25    3906291
dtype: int64

In [28]:
x=train2

In [29]:
Xy=pd.concat([x,x.shift(-1),x.shift(-2),x.shift(-3),x['PM10'].shift(-4)],keys=['t','t+1','t+2','t+3','t+4'],axis=1).dropna()

In [30]:
Xy.head()

                                 t              t+1              t+2        \
                                O3   NO2 PM10    O3   NO2 PM10    O3   NO2
idPolair date
7004.0   2012-01-01 00:00:00  53.0   7.0  5.0  55.0   6.0  3.0  60.0   5.0
         2012-01-01 01:00:00  55.0   6.0  3.0  60.0   5.0  1.0  49.0  12.0
         2012-01-01 02:00:00  60.0   5.0  1.0  49.0  12.0  1.0  22.0  31.0
         2012-01-01 03:00:00  49.0  12.0  1.0  22.0  31.0  3.0  21.0  23.0
         2012-01-01 04:00:00  22.0  31.0  3.0  21.0  23.0  4.0  17.0  22.0

                                    t+3             t+4
                             PM10    O3   NO2 PM10 PM10
idPolair date
7004.0   2012-01-01 00:00:00  1.0  49.0  12.0  1.0  3.0
         2012-01-01 01:00:00  1.0  22.0  31.0  3.0  4.0
         2012-01-01 02:00:00  3.0  21.0  23.0  4.0  6.0
         2012-01-01 03:00:00  4.0  17.0  22.0  6.0  7.0
         2012-01-01 04:00:00  6.0  13.0  24.0  7.0  7.0

In [31]:
Xy.shape

(5538500, 13)

In [37]:
X=Xy.iloc[:,:12]

In [38]:
y=pd.DataFrame(Xy.iloc[:,12])

In [39]:
X.head()

                                 t              t+1              t+2        \
                                O3   NO2 PM10    O3   NO2 PM10    O3   NO2
idPolair date
7004.0   2012-01-01 00:00:00  53.0   7.0  5.0  55.0   6.0  3.0  60.0   5.0
         2012-01-01 01:00:00  55.0   6.0  3.0  60.0   5.0  1.0  49.0  12.0
         2012-01-01 02:00:00  60.0   5.0  1.0  49.0  12.0  1.0  22.0  31.0
         2012-01-01 03:00:00  49.0  12.0  1.0  22.0  31.0  3.0  21.0  23.0
         2012-01-01 04:00:00  22.0  31.0  3.0  21.0  23.0  4.0  17.0  22.0

                                    t+3
                             PM10    O3   NO2 PM10
idPolair date
7004.0   2012-01-01 00:00:00  1.0  49.0  12.0  1.0
         2012-01-01 01:00:00  1.0  22.0  31.0  3.0
         2012-01-01 02:00:00  3.0  21.0  23.0  4.0
         2012-01-01 03:00:00  4.0  17.0  22.0  6.0
         2012-01-01 04:00:00  6.0  13.0  24.0  7.0

In [40]:
y.head()

                              t+4
                             PM10
idPolair date
7004.0   2012-01-01 00:00:00  3.0
         2012-01-01 01:00:00  4.0
         2012-01-01 02:00:00  6.0
         2012-01-01 03:00:00  7.0
         2012-01-01 04:00:00  7.0

In [49]:
In=X.values.reshape(X.shape[0],4,3)
Out=y.values.reshape(y.shape[0],1)
model = Sequential()
model.add(LSTM(20,input_shape=(4,3),dropout=0.5))

model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')

In [50]:
model.fit(In,Out,verbose=2,epochs=2,batch_size=)

Epoch 1/2

KeyboardInterrupt:

In [88]:
model.fit(In,Out,verbose=2,epochs=2)

Epoch 1/2
 - 260s - loss: 117.0580
Epoch 2/2
 - 259s - loss: 113.8302

In [89]:
model.fit(In,Out,verbose=2,epochs=6)

Epoch 1/6
 - 258s - loss: 113.4600
Epoch 2/6
 - 259s - loss: 112.0066
Epoch 3/6
 - 261s - loss: 111.2778
Epoch 4/6
 - 259s - loss: 111.3777
Epoch 5/6
 - 260s - loss: 110.4862
Epoch 6/6
 - 259s - loss: 110.2486

In [55]:
z=model.predict(In[10000:10010])

In [42]:
from keras.models import load_model
# Assuming your model includes instance of an "AttentionLayer" class
# model = load_model('fillna/PM10.sav')

In [56]:
Out[10000:10010]

array([[50.],
       [50.],
       [51.],
       [51.],
       [50.],
       [50.],
       [51.],
       [51.],
       [50.],
       [50.]])

In [58]:
x.iloc[1,2]

nan

In [60]:
for k in range(4,x.shape[0]):
    if(k%10000==0):
        print(k)
    if(np.isnan(x.iloc[k,2])):
        seq=x[k-4:k].values.reshape(1,4,3)
        x.iloc[k,2]=model.predict(seq)[0][0]

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000
1600000
1610000
1620000
1630000
1640000
1650000
1660000
1670000
1680000
1690000
1700000
1710000
1720000
1730000
1740000
1750000
1760000
1770000
1780000
1790000
1800000
1810000
1820000
1830000
1840000
1850000
1860000
1870000
1880000
1890000
1900000
1910000
1920000
1930000
1940000
1950000
1960000
1970000
1980000
1990000
2000000
2010000
2020000
2030000
2040000
2050000
2060000
2070000
2080000
2090000
2100000
2110000
2120000
2130000
2140000
2150000
2160000
2170000
2180000
2190000
2200000
2210000
2220000
2230000
2240000
2250000
2260000
2270000
2280000
2290000
2300000
2310000
2320000
2330000
2340000
2350000
2360000
2370000
2380000
2390000
2400000
2410000
2420000
2430000
2440000
2450000
2460000
2470000
2480000
2490000
2500000
2510000
2520000
2530000
2540000
2550000
2560000
2570000
2580000
2590000
2600000
2610000
2620000
2630000
2640000
2650000
2660000
2670000
2680000
2690000
2700000
2710000
2720000
2730000
2740000
2750000
2760000
2770000
2780000
2790000
2800000
2810000
2820000
2830000
2840000
2850000
2860000
2870000
2880000
2890000
2900000
2910000
2920000
2930000
2940000
2950000
2960000
2970000
2980000
2990000
3000000
3010000
3020000
3030000
3040000
3050000
3060000
3070000
3080000
3090000
3100000
3110000
3120000
3130000
3140000
3150000
3160000
3170000
3180000
3190000
3200000
3210000
3220000
3230000
3240000
3250000
3260000
3270000
3280000
3290000
3300000
3310000
3320000
3330000
3340000
3350000
3360000
3370000
3380000
3390000
3400000
3410000
3420000
3430000
3440000
3450000
3460000
3470000
3480000
3490000
3500000
3510000
3520000
3530000
3540000
3550000
3560000
3570000
3580000
3590000
3600000
3610000
3620000
3630000
3640000
3650000
3660000
3670000
3680000
3690000
3700000
3710000
3720000
3730000
3740000
3750000
3760000
3770000
3780000
3790000
3800000
3810000
3820000
3830000
3840000
3850000
3860000
3870000
3880000
3890000
3900000
3910000
3920000
3930000
3940000
3950000
3960000
3970000
3980000
3990000
4000000
4010000
4020000
4030000
4040000
4050000
4060000
4070000
4080000
4090000
4100000
4110000
4120000
4130000
4140000
4150000
4160000
4170000
4180000
4190000
4200000
4210000
4220000
4230000
4240000
4250000
4260000
4270000
4280000
4290000
4300000
4310000
4320000
4330000
4340000
4350000
4360000
4370000
4380000
4390000
4400000
4410000
4420000
4430000
4440000
4450000
4460000
4470000
4480000
4490000
4500000
4510000
4520000
4530000
4540000
4550000
4560000
4570000
4580000
4590000
4600000
4610000
4620000
4630000
4640000
4650000
4660000
4670000
4680000
4690000
4700000
4710000
4720000
4730000
4740000
4750000
4760000
4770000
4780000
4790000
4800000
4810000
4820000
4830000
4840000
4850000
4860000
4870000
4880000
4890000
4900000
4910000
4920000
4930000
4940000
4950000
4960000
4970000
4980000
4990000
5000000
5010000
5020000
5030000
5040000
5050000
5060000
5070000
5080000
5090000
5100000
5110000
5120000
5130000
5140000
5150000
5160000
5170000
5180000
5190000
5200000
5210000
5220000
5230000
5240000
5250000
5260000
5270000
5280000
5290000
5300000
5310000
5320000
5330000
5340000
5350000
5360000
5370000
5380000
5390000
5400000
5410000
5420000
5430000
5440000
5450000
5460000
5470000
5480000
5490000
5500000
5510000
5520000
5530000
5540000
5550000
5560000
5570000
5580000
5590000
5600000
5610000
5620000
5630000
5640000
5650000
5660000
5670000
5680000
5690000
5700000
5710000
5720000
5730000
5740000
5750000
5760000
5770000
5780000
5790000
5800000
5810000
5820000
5830000
5840000
5850000
5860000
5870000
5880000
5890000
5900000
5910000
5920000
5930000
5940000
5950000
5960000
5970000
5980000
5990000
6000000
6010000
6020000
6030000
6040000
6050000
6060000
6070000
6080000
6090000
6100000
6110000
6120000
6130000
6140000
6150000
6160000
6170000
6180000
6190000
6200000
6210000
6220000
6230000
6240000
6250000
6260000
6270000
6280000
6290000
6300000
6310000
6320000
6330000
6340000
6350000
6360000
6370000
6380000
6390000
6400000
6410000
6420000
6430000
6440000
6450000
6460000
6470000
6480000
6490000
6500000
6510000
6520000
6530000
6540000
6550000
6560000
6570000
6580000
6590000
6600000
6610000
6620000
6630000
6640000
6650000
6660000
6670000
6680000
6690000
6700000
6710000
6720000
6730000
6740000
6750000
6760000
6770000
6780000
6790000
6800000
6810000
6820000
6830000
6840000
6850000
6860000
6870000
6880000
6890000
6900000
6910000
6920000
6930000
6940000
6950000
6960000
6970000
6980000
6990000
7000000
7010000
7020000
7030000
7040000
7050000
7060000
7070000
7080000
7090000
7100000
7110000
7120000
7130000
7140000
7150000
7160000
7170000
7180000
7190000
7200000
7210000
7220000
7230000
7240000
7250000
7260000
7270000
7280000
7290000
7300000
7310000
7320000
7330000
7340000
7350000
7360000
7370000
7380000
7390000
7400000
7410000
7420000
7430000
7440000
7450000
7460000
7470000
7480000
7490000
7500000
7510000
7520000
7530000
7540000
7550000
7560000
7570000
7580000
7590000
7600000
7610000
7620000
7630000
7640000
7650000
7660000
7670000
7680000
7690000
7700000
7710000
7720000
7730000
7740000
7750000
7760000
7770000
7780000
7790000
7800000
7810000
7820000
7830000
7840000
7850000
7860000
7870000
7880000
7890000
7900000
7910000
7920000
7930000
7940000
7950000
7960000
7970000
7980000
7990000
8000000
8010000
8020000
8030000
8040000
8050000
8060000
8070000
8080000
8090000
8100000
8110000
8120000
8130000
8140000
8150000
8160000
8170000
8180000
8190000
8200000
8210000
8220000
8230000
8240000
8250000
8260000
8270000
8280000
8290000
8300000
8310000
8320000
8330000
8340000
8350000
8360000
8370000
8380000
8390000
8400000
8410000
8420000
8430000
8440000
8450000
8460000
8470000
8480000
8490000
8500000
8510000
8520000
8530000
8540000
8550000
8560000
8570000
8580000
8590000
8600000
8610000
8620000
8630000
8640000
8650000
8660000
8670000
8680000
8690000
8700000
8710000
8720000
8730000
8740000
8750000

In [41]:
train.iloc[10,0]

1.0

In [43]:
train.iloc[10]

NO2     1.0
O3     54.0
Name: (7001.0, 2012-01-01 10:00:00), dtype: float64

In [61]:
x.to_csv('fillna/absar.csv')

In [57]:
x['date']=pd.to_datetime(x['date'])

In [58]:
x.set_index(['idPolair','date'],inplace=True)

In [130]:
x.isna().any()

O3     False
NO2    False
dtype: bool

In [36]:
train2.iloc[100000:100005]

                              NO2    O3  PM10
idPolair date
7004.0   2013-03-31 01:00:00  6.0  59.0  27.0
         2013-03-31 01:00:00  6.0  59.0  20.0
         2013-03-31 01:00:00  6.0  59.0  20.0
         2013-03-31 01:00:00  6.0  59.0  27.0
         2013-03-31 01:00:00  6.0  59.0  27.0

In [41]:
for k in range(400000,400009):
    seq=x[k-4:k].values.reshape(1,4,3)
    print(model.predict(seq)[0][0])

4.1806226
5.7505574
7.1033616
8.234743
8.852207
8.768693
8.872082
9.181513
8.218852

In [43]:
x[400000:400009]

                               NO2         O3  PM10
idPolair date
7011.0   2015-10-07 07:00:00  49.0  29.172915  12.0
         2015-10-07 08:00:00  33.0  29.172916  15.0
         2015-10-07 09:00:00  20.0  29.172916  16.0
         2015-10-07 10:00:00  21.0  29.172916  16.0
         2015-10-07 11:00:00  21.0  29.172915  15.0
         2015-10-07 12:00:00  25.0  29.172911  15.0
         2015-10-07 13:00:00  29.0  29.172913  16.0
         2015-10-07 14:00:00  25.0  29.172915  13.0
         2015-10-07 15:00:00  28.0  29.172915  12.0

In [44]:
model.save('fillna/nnnn.save')

In [45]:
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 13493603344304735873
, name: "/device:XLA_GPU:0"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 2233016737983707486
physical_device_desc: "device: XLA_GPU device"
, name: "/device:XLA_CPU:0"
device_type: "XLA_CPU"
memory_limit: 17179869184
locality {
}
incarnation: 17022320233449688435
physical_device_desc: "device: XLA_CPU device"
]

In [46]:
from keras import backend as K
K.tensorflow_backend._get_available_gpus()

[]

In [49]:
import tensorflow as tf
sess = tf.Session(config=tf.ConfigProto(log_device_placement=True))

In [50]:
import keras
config = tf.ConfigProto( device_count = {'GPU': 1 , 'CPU': 56} ) 
sess = tf.Session(config=config) 
keras.backend.set_session(sess)

In [51]:
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 16650952518858922357
, name: "/device:XLA_GPU:0"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 15148240866698533999
physical_device_desc: "device: XLA_GPU device"
, name: "/device:XLA_CPU:0"
device_type: "XLA_CPU"
memory_limit: 17179869184
locality {
}
incarnation: 16799758748246834202
physical_device_desc: "device: XLA_CPU device"
]

In [53]:
# Creates a graph.
a = tf.constant([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], shape=[2, 3], name='a')
b = tf.constant([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], shape=[3, 2], name='b')
c = tf.matmul(a, b)
# Creates a session with log_device_placement set to True.
sess = tf.Session(config=tf.ConfigProto(log_device_placement=True))
# Runs the op.
print(sess.run(c))

[[22. 28.]
 [49. 64.]]

In [109]:
x=pd.read_csv('fillna/O3_AND_NO22.csv')
x['date']=pd.to_datetime(x['date'])
x.set_index(['idPolair','date'],inplace=True)

In [62]:
x.isnull().sum()

O3          0
NO2         0
PM10    46432
dtype: int64

In [22]:
z=newD.sort_index(by='date')

/home/hussein/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [23]:
z=z.fillna(method='bfill')

In [17]:
groups=x.groupby(level=0)

In [18]:
newD=None
for name,g in groups:
    g=g.reset_index().set_index('date')
    g=g.resample('h').mean()
    g=g.reset_index().set_index(['idPolair','date'])
    if(name==7001):
        newD=g
    else:
        newD=pd.concat([newD,g])

In [19]:
newD

                                    O3        NO2       PM10
idPolair date
7001.0   2012-01-01 00:00:00  51.00000   4.000000        NaN
         2012-01-01 01:00:00  53.00000   3.000000        NaN
         2012-01-01 02:00:00  39.00000  10.000000        NaN
         2012-01-01 03:00:00  39.00000   5.000000        NaN
         2012-01-01 04:00:00  30.00000   8.000000        NaN
         2012-01-01 05:00:00  25.00000   6.000000        NaN
         2012-01-01 06:00:00  25.00000   9.000000        NaN
         2012-01-01 07:00:00  22.00000  11.000000        NaN
         2012-01-01 08:00:00  24.00000   8.000000        NaN
         2012-01-01 09:00:00  45.00000   5.000000        NaN
         2012-01-01 10:00:00  54.00000   1.000000        NaN
         2012-01-01 11:00:00  58.00000   1.000000        NaN
         2012-01-01 12:00:00  57.00000   1.000000        NaN
         2012-01-01 13:00:00  55.00000   0.000000        NaN
         2012-01-01 14:00:00  56.00000   1.000000        NaN
         2012-01-01 15:00:00  54.00000   2.000000        NaN
         2012-01-01 16:00:00  56.00000   3.000000        NaN
         2012-01-01 17:00:00  51.00000   6.000000        NaN
         2012-01-01 18:00:00  40.00000  13.000000        NaN
         2012-01-01 19:00:00  40.00000   8.000000        NaN
         2012-01-01 20:00:00  32.00000   8.000000        NaN
         2012-01-01 21:00:00  31.00000  11.000000        NaN
         2012-01-01 22:00:00  28.00000   6.000000        NaN
         2012-01-01 23:00:00  28.00000   6.000000        NaN
         2012-01-02 00:00:00  24.00000   4.000000        NaN
         2012-01-02 01:00:00  23.00000   5.000000        NaN
         2012-01-02 02:00:00  33.00000   8.000000        NaN
         2012-01-02 03:00:00  38.00000   6.000000        NaN
         2012-01-02 04:00:00  57.00000   0.000000        NaN
         2012-01-02 05:00:00  54.00000   0.000000        NaN
...                                ...        ...        ...
36021.0  2016-12-30 19:00:00  25.00000   2.000000  17.000000
         2016-12-30 20:00:00  21.00000   2.000000  15.000000
         2016-12-30 21:00:00  19.00000   1.000000  12.000000
         2016-12-30 22:00:00  16.00000   0.000000  11.000000
         2016-12-30 23:00:00  14.00000   1.000000   8.000000
         2016-12-31 00:00:00  14.00000   0.000000  11.000000
         2016-12-31 01:00:00  12.00000   0.000000  16.000000
         2016-12-31 02:00:00  13.00000   0.000000  14.000000
         2016-12-31 03:00:00  13.00000   0.000000   9.000000
         2016-12-31 04:00:00  14.00000   0.000000  11.000000
         2016-12-31 05:00:00  15.00000   1.000000  13.000000
         2016-12-31 06:00:00  17.00000   0.000000  11.000000
         2016-12-31 07:00:00  18.00000   1.000000   7.000000
         2016-12-31 08:00:00  22.00000   1.000000   8.000000
         2016-12-31 09:00:00  24.00000   1.000000   8.000000
         2016-12-31 10:00:00  36.00000   1.000000  10.000000
         2016-12-31 11:00:00  45.00000   1.000000  12.000000
         2016-12-31 12:00:00  51.00000   0.000000  10.000000
         2016-12-31 13:00:00  60.00000   0.000000   7.000000
         2016-12-31 14:00:00  69.00000   0.000000   6.000000
         2016-12-31 15:00:00  70.00000   1.000000   4.000000
         2016-12-31 16:00:00  50.00000   1.000000   3.000000
         2016-12-31 17:00:00  38.00000   1.000000   2.000000
         2016-12-31 18:00:00  34.00000   2.000000   6.000000
         2016-12-31 19:00:00  32.00000   2.000000  12.000000
         2016-12-31 20:00:00  31.00000   1.000000  10.000000
         2016-12-31 21:00:00  31.00000   0.000000   6.000000
         2016-12-31 22:00:00  28.00000   0.000000   7.000000
         2016-12-31 23:00:00  26.00000   0.000000   7.000000
         2017-01-01 00:00:00  24.85404   8.928602   4.281237

[4735691 rows x 3 columns]

In [20]:
x.shape

(8753350, 3)

In [21]:
newD.shape

(4735691, 3)

In [25]:
z=z.sort_index()

In [26]:
z

                                     O3        NO2       PM10
idPolair date
7001.0   2012-01-01 00:00:00  51.000000   4.000000   3.726041
         2012-01-01 01:00:00  53.000000   3.000000  11.399355
         2012-01-01 02:00:00  39.000000  10.000000  10.017576
         2012-01-01 03:00:00  39.000000   5.000000   7.250695
         2012-01-01 04:00:00  30.000000   8.000000  35.000000
         2012-01-01 05:00:00  25.000000   6.000000   5.448925
         2012-01-01 06:00:00  25.000000   9.000000   4.358814
         2012-01-01 07:00:00  22.000000  11.000000   6.225487
         2012-01-01 08:00:00  24.000000   8.000000  36.000000
         2012-01-01 09:00:00  45.000000   5.000000  29.000000
         2012-01-01 10:00:00  54.000000   1.000000  22.000000
         2012-01-01 11:00:00  58.000000   1.000000   5.000000
         2012-01-01 12:00:00  57.000000   1.000000   8.550345
         2012-01-01 13:00:00  55.000000   0.000000   3.726043
         2012-01-01 14:00:00  56.000000   1.000000  18.000000
         2012-01-01 15:00:00  54.000000   2.000000  27.000000
         2012-01-01 16:00:00  56.000000   3.000000   3.762649
         2012-01-01 17:00:00  51.000000   6.000000   3.702777
         2012-01-01 18:00:00  40.000000  13.000000  40.000000
         2012-01-01 19:00:00  40.000000   8.000000   7.123414
         2012-01-01 20:00:00  32.000000   8.000000  19.000000
         2012-01-01 21:00:00  31.000000  11.000000  28.000000
         2012-01-01 22:00:00  28.000000   6.000000   3.726042
         2012-01-01 23:00:00  28.000000   6.000000   5.000000
         2012-01-02 00:00:00  24.000000   4.000000   7.000000
         2012-01-02 01:00:00  23.000000   5.000000   3.602443
         2012-01-02 02:00:00  33.000000   8.000000  14.000000
         2012-01-02 03:00:00  38.000000   6.000000  31.000000
         2012-01-02 04:00:00  57.000000   0.000000  11.000000
         2012-01-02 05:00:00  54.000000   0.000000   3.719400
...                                 ...        ...        ...
36021.0  2016-12-31 00:00:00  14.000000   0.000000  11.000000
         2016-12-31 01:00:00  12.000000   0.000000  16.000000
         2016-12-31 02:00:00  13.000000   0.000000  14.000000
         2016-12-31 03:00:00  13.000000   0.000000   9.000000
         2016-12-31 04:00:00  14.000000   0.000000  11.000000
         2016-12-31 05:00:00  15.000000   1.000000  13.000000
         2016-12-31 06:00:00  17.000000   0.000000  11.000000
         2016-12-31 07:00:00  18.000000   1.000000   7.000000
         2016-12-31 08:00:00  22.000000   1.000000   8.000000
         2016-12-31 09:00:00  24.000000   1.000000   8.000000
         2016-12-31 10:00:00  36.000000   1.000000  10.000000
         2016-12-31 11:00:00  45.000000   1.000000  12.000000
         2016-12-31 12:00:00  51.000000   0.000000  10.000000
         2016-12-31 13:00:00  60.000000   0.000000   7.000000
         2016-12-31 14:00:00  69.000000   0.000000   6.000000
         2016-12-31 15:00:00  70.000000   1.000000   4.000000
         2016-12-31 16:00:00  50.000000   1.000000   3.000000
         2016-12-31 17:00:00  38.000000   1.000000   2.000000
         2016-12-31 18:00:00  34.000000   2.000000   6.000000
         2016-12-31 19:00:00  32.000000   2.000000  12.000000
         2016-12-31 20:00:00  31.000000   1.000000  10.000000
         2016-12-31 21:00:00  31.000000   0.000000   6.000000
         2016-12-31 22:00:00  28.000000   0.000000   7.000000
         2016-12-31 23:00:00  26.000000   0.000000   7.000000
         2017-01-01 00:00:00  24.854040   8.928602   4.281237
NaN      2012-03-25 02:00:00  40.241440   4.048152   3.696494
         2013-03-31 02:00:00  73.214790   7.803580  31.024221
         2014-03-30 02:00:00  48.047504   3.164502   7.849929
         2015-03-29 02:00:00  74.312042   3.700261   8.456833
         2016-03-27 02:00:00  47.202888   8.519275   6.211832

[4735691 rows x 3 columns]

In [91]:
z.get(7001)

In [28]:
ggg=z.groupby(level=0)

In [29]:
newD=None
for name,g in ggg:
    if(name==7001):
        newD=g
    else:
        newD=pd.concat([newD,g])

In [31]:
newD.to_csv('fillna/3.csv')

In [13]:
x=pd.read_csv('fillna/absar.csv')

In [14]:
x['date']=pd.to_datetime(x['date'])

In [15]:
x=x.set_index(['idPolair','date'])

In [16]:
x.isnull().sum()

O3          0
NO2         0
PM10    46432
dtype: int64

In [33]:
gg=newD.groupby(level=0)
s=0
for i,j in gg:
    print(j.shape[0])
    s=s+1
print(s)

43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43849
43843
43849
43849
43849
43849
43849
43849
43849
108

In [37]:
PM25=pd.DataFrame(data['PM25'])

In [38]:
PM25.head()

                              PM25
idPolair date
7001.0   2012-01-01 00:00:00   NaN
         2012-01-01 01:00:00   NaN
         2012-01-01 02:00:00   NaN
         2012-01-01 03:00:00   NaN
         2012-01-01 04:00:00   NaN

In [39]:
PM25.isnull().sum()

PM25    3911515
dtype: int64

In [41]:
groups=PM25.groupby(level=0)
new=None
for name,g in groups:
    g=g.reset_index().set_index('date')
    g=g.resample('h').mean()
    g=g.reset_index().set_index(['idPolair','date'])
    if(name==7001):
        new=g
    else:
        new=pd.concat([new,g])

In [42]:
new

                              PM25
idPolair date
7001.0   2012-01-01 00:00:00   NaN
         2012-01-01 01:00:00   NaN
         2012-01-01 02:00:00   NaN
         2012-01-01 03:00:00   NaN
         2012-01-01 04:00:00   NaN
         2012-01-01 05:00:00   NaN
         2012-01-01 06:00:00   NaN
         2012-01-01 07:00:00   NaN
         2012-01-01 08:00:00   NaN
         2012-01-01 09:00:00   NaN
         2012-01-01 10:00:00   NaN
         2012-01-01 11:00:00   NaN
         2012-01-01 12:00:00   NaN
         2012-01-01 13:00:00   NaN
         2012-01-01 14:00:00   NaN
         2012-01-01 15:00:00   NaN
         2012-01-01 16:00:00   NaN
         2012-01-01 17:00:00   NaN
         2012-01-01 18:00:00   NaN
         2012-01-01 19:00:00   NaN
         2012-01-01 20:00:00   NaN
         2012-01-01 21:00:00   NaN
         2012-01-01 22:00:00   NaN
         2012-01-01 23:00:00   NaN
         2012-01-02 00:00:00   NaN
         2012-01-02 01:00:00   NaN
         2012-01-02 02:00:00   NaN
         2012-01-02 03:00:00   NaN
         2012-01-02 04:00:00   NaN
         2012-01-02 05:00:00   NaN
...                            ...
36021.0  2016-12-30 19:00:00   9.0
         2016-12-30 20:00:00   8.0
         2016-12-30 21:00:00   8.0
         2016-12-30 22:00:00   5.0
         2016-12-30 23:00:00   5.0
         2016-12-31 00:00:00   7.0
         2016-12-31 01:00:00   7.0
         2016-12-31 02:00:00   9.0
         2016-12-31 03:00:00   9.0
         2016-12-31 04:00:00   8.0
         2016-12-31 05:00:00   8.0
         2016-12-31 06:00:00   7.0
         2016-12-31 07:00:00   7.0
         2016-12-31 08:00:00  11.0
         2016-12-31 09:00:00  11.0
         2016-12-31 10:00:00  11.0
         2016-12-31 11:00:00  11.0
         2016-12-31 12:00:00   6.0
         2016-12-31 13:00:00   6.0
         2016-12-31 14:00:00   3.0
         2016-12-31 15:00:00   3.0
         2016-12-31 16:00:00   2.0
         2016-12-31 17:00:00   2.0
         2016-12-31 18:00:00   4.0
         2016-12-31 19:00:00   4.0
         2016-12-31 20:00:00   2.0
         2016-12-31 21:00:00   2.0
         2016-12-31 22:00:00   4.0
         2016-12-31 23:00:00   4.0
         2017-01-01 00:00:00   NaN

[4735691 rows x 1 columns]

In [43]:
n=pd.merge(newD,new,left_index=True,right_index=True,how='left')

In [44]:
n.shape

(4735686, 4)

In [45]:
n.to_csv('fillna/2abl.csv')

In [10]:
n=pd.read_csv('fillna/2abl.csv')
n['date']=pd.to_datetime(n['date'])

In [11]:
n.set_index(['idPolair','date'],inplace=True)

In [12]:
n.isnull().sum()

O3            0
NO2           0
PM10          0
PM25    3906291
dtype: int64

In [7]:
n.corr()

            O3       NO2      PM10      PM25
O3    1.000000 -0.350955 -0.182645 -0.266192
NO2  -0.350955  1.000000  0.546763  0.394113
PM10 -0.182645  0.546763  1.000000  0.693596
PM25 -0.266192  0.394113  0.693596  1.000000

In [53]:
pd.concat([n,n.shift(1),n.shift(2)],axis=1).corr()

,O3,NO2,PM10,PM25,O3,NO2,PM10,PM25,O3,NO2,PM10,PM25
O3,1.000000,-0.350955,-0.182645,-0.266192,0.968998,-0.334247,-0.171137,-0.252415,0.916310,-0.309413,-0.160143,-0.238820
NO2,-0.350955,1.000000,0.546763,0.394113,-0.333339,0.937672,0.511387,0.359586,-0.307805,0.859460,0.479202,0.329264
PM10,-0.182645,0.546763,1.000000,0.693596,-0.186959,0.560824,0.930542,0.668423,-0.183360,0.545402,0.871279,0.632463
PM25,-0.266192,0.394113,0.693596,1.000000,-0.271708,0.409185,0.671161,0.858537,-0.266304,0.394705,0.637239,0.803906
O3,0.968998,-0.333339,-0.186959,-0.271708,1.000000,-0.350955,-0.182646,-0.266192,0.968998,-0.334247,-0.171137,-0.252415
NO2,-0.334247,0.937672,0.560824,0.409185,-0.350955,1.000000,0.546763,0.394113,-0.333339,0.937672,0.511387,0.359585
PM10,-0.171137,0.511387,0.930542,0.671161,-0.182646,0.546763,1.000000,0.693596,-0.186959,0.560824,0.930542,0.668422
PM25,-0.252415,0.359586,0.668423,0.858537,-0.266192,0.394113,0.693596,1.000000,-0.271708,0.409185,0.671161,0.858537
O3,0.916310,-0.307805,-0.183360,-0.266304,0.968998,-0.333339,-0.186959,-0.271708,1.000000,-0.350955,-0.182646,-0.266193
NO2,-0.309413,0.859460,0.545402,0.394705,-0.334247,0.937672,0.560824,0.409185,-0.350955,1.000000,0.546763,0.394112
PM10,-0.160143,0.479202,0.871279,0.637239,-0.171137,0.511387,0.930542,0.671161,-0.182646,0.546763,1.000000,0.693596
PM25,-0.238820,0.329264,0.632463,0.803906,-0.252415,0.359585,0.668422,0.858537,-0.266193,0.394112,0.693596,1.000000

In [8]:
n

                                    O3        NO2       PM10  PM25
idPolair date
7001.0   2012-01-01 00:00:00  51.00000   4.000000   3.726041   NaN
         2012-01-01 01:00:00  53.00000   3.000000  11.399355   NaN
         2012-01-01 02:00:00  39.00000  10.000000  10.017576   NaN
         2012-01-01 03:00:00  39.00000   5.000000   7.250695   NaN
         2012-01-01 04:00:00  30.00000   8.000000  35.000000   NaN
         2012-01-01 05:00:00  25.00000   6.000000   5.448925   NaN
         2012-01-01 06:00:00  25.00000   9.000000   4.358814   NaN
         2012-01-01 07:00:00  22.00000  11.000000   6.225487   NaN
         2012-01-01 08:00:00  24.00000   8.000000  36.000000   NaN
         2012-01-01 09:00:00  45.00000   5.000000  29.000000   NaN
         2012-01-01 10:00:00  54.00000   1.000000  22.000000   NaN
         2012-01-01 11:00:00  58.00000   1.000000   5.000000   NaN
         2012-01-01 12:00:00  57.00000   1.000000   8.550345   NaN
         2012-01-01 13:00:00  55.00000   0.000000   3.726043   NaN
         2012-01-01 14:00:00  56.00000   1.000000  18.000000   NaN
         2012-01-01 15:00:00  54.00000   2.000000  27.000000   NaN
         2012-01-01 16:00:00  56.00000   3.000000   3.762649   NaN
         2012-01-01 17:00:00  51.00000   6.000000   3.702777   NaN
         2012-01-01 18:00:00  40.00000  13.000000  40.000000   NaN
         2012-01-01 19:00:00  40.00000   8.000000   7.123414   NaN
         2012-01-01 20:00:00  32.00000   8.000000  19.000000   NaN
         2012-01-01 21:00:00  31.00000  11.000000  28.000000   NaN
         2012-01-01 22:00:00  28.00000   6.000000   3.726042   NaN
         2012-01-01 23:00:00  28.00000   6.000000   5.000000   NaN
         2012-01-02 00:00:00  24.00000   4.000000   7.000000   NaN
         2012-01-02 01:00:00  23.00000   5.000000   3.602443   NaN
         2012-01-02 02:00:00  33.00000   8.000000  14.000000   NaN
         2012-01-02 03:00:00  38.00000   6.000000  31.000000   NaN
         2012-01-02 04:00:00  57.00000   0.000000  11.000000   NaN
         2012-01-02 05:00:00  54.00000   0.000000   3.719400   NaN
...                                ...        ...        ...   ...
36021.0  2016-12-30 19:00:00  25.00000   2.000000  17.000000   9.0
         2016-12-30 20:00:00  21.00000   2.000000  15.000000   8.0
         2016-12-30 21:00:00  19.00000   1.000000  12.000000   8.0
         2016-12-30 22:00:00  16.00000   0.000000  11.000000   5.0
         2016-12-30 23:00:00  14.00000   1.000000   8.000000   5.0
         2016-12-31 00:00:00  14.00000   0.000000  11.000000   7.0
         2016-12-31 01:00:00  12.00000   0.000000  16.000000   7.0
         2016-12-31 02:00:00  13.00000   0.000000  14.000000   9.0
         2016-12-31 03:00:00  13.00000   0.000000   9.000000   9.0
         2016-12-31 04:00:00  14.00000   0.000000  11.000000   8.0
         2016-12-31 05:00:00  15.00000   1.000000  13.000000   8.0
         2016-12-31 06:00:00  17.00000   0.000000  11.000000   7.0
         2016-12-31 07:00:00  18.00000   1.000000   7.000000   7.0
         2016-12-31 08:00:00  22.00000   1.000000   8.000000  11.0
         2016-12-31 09:00:00  24.00000   1.000000   8.000000  11.0
         2016-12-31 10:00:00  36.00000   1.000000  10.000000  11.0
         2016-12-31 11:00:00  45.00000   1.000000  12.000000  11.0
         2016-12-31 12:00:00  51.00000   0.000000  10.000000   6.0
         2016-12-31 13:00:00  60.00000   0.000000   7.000000   6.0
         2016-12-31 14:00:00  69.00000   0.000000   6.000000   3.0
         2016-12-31 15:00:00  70.00000   1.000000   4.000000   3.0
         2016-12-31 16:00:00  50.00000   1.000000   3.000000   2.0
         2016-12-31 17:00:00  38.00000   1.000000   2.000000   2.0
         2016-12-31 18:00:00  34.00000   2.000000   6.000000   4.0
         2016-12-31 19:00:00  32.00000   2.000000  12.000000   4.0
         2016-12-31 20:00:00  31.00000   1.000000  10.000000   2.0
         2016-12-31 21:00:00  31.00000   0.000000   6.000000   2.0
         2016-12-31 22:00:00  28.00000   0.000000   7.000000   4.0
         2016-12-31 23:00:00  26.00000   0.000000   7.000000   4.0
         2017-01-01 00:00:00  24.85404   8.928602   4.281237   NaN

[4735686 rows x 4 columns]

In [13]:
groups=n.groupby(level=1)
means=None
for name,g in groups:
    g=g.reset_index()
    g=g.set_index('date')
    g=g.resample('h').mean()
    if(name==7001):
        means=g
    else:
        means=pd.concat([means,g])

In [14]:
del means['idPolair']

In [15]:
test=pd.merge(n.reset_index().set_index('date'),means,left_index=True,right_index=True)

In [16]:
test=test.reset_index().set_index(['idPolair','date']).sort_index()

In [17]:
test.corr()

,O3_x,NO2_x,PM10_x,PM25_x,O3_y,NO2_y,PM10_y,PM25_y
O3_x,1.000000,-0.350955,-0.182645,-0.266192,0.537858,-0.266428,-0.138276,-0.174378
NO2_x,-0.350955,1.000000,0.546763,0.394113,-0.198188,0.400098,0.253054,0.220102
PM10_x,-0.182645,0.546763,1.000000,0.693596,-0.116034,0.285465,0.451342,0.416724
PM25_x,-0.266192,0.394113,0.693596,1.000000,-0.227974,0.388698,0.658727,0.712871
O3_y,0.537858,-0.198188,-0.116034,-0.227974,1.000000,-0.495350,-0.257087,-0.324200
NO2_y,-0.266428,0.400098,0.285465,0.388698,-0.495350,1.000000,0.632481,0.550151
PM10_y,-0.138276,0.253054,0.451342,0.658727,-0.257087,0.632481,1.000000,0.923312
PM25_y,-0.174378,0.220102,0.416724,0.712871,-0.324200,0.550151,0.923312,1.000000

In [18]:
test['y']=test['PM25_x']
del test['PM25_x']

In [21]:
test.isnull().sum()

O3_x            0
NO2_x           0
PM10_x          0
O3_y            0
NO2_y           0
PM10_y          0
PM25_y          0
y         3906291
dtype: int64

In [20]:
test['PM25_y']=test['PM25_y'].fillna(method='ffill')

In [25]:
X=test.iloc[:,:7]
y=pd.DataFrame(test.iloc[:,7])

In [41]:
y.loc[36021].loc['2016-12-30 20:00']

y    8.0
Name: 2016-12-30 20:00:00, dtype: float64

In [39]:
Xy=pd.concat([X.shift(3),X.shift(2),X.shift(1),X,y],keys=['t','t+1','t+2','t+3','t+4'],axis=1)

In [40]:
Xy

                                 t                                         \
                              O3_x NO2_x     PM10_x       O3_y      NO2_y
idPolair date
7001.0   2012-01-01 00:00:00   NaN   NaN        NaN        NaN        NaN
         2012-01-01 01:00:00   NaN   NaN        NaN        NaN        NaN
         2012-01-01 02:00:00   NaN   NaN        NaN        NaN        NaN
         2012-01-01 03:00:00  51.0   4.0   3.726041  28.301416  23.348355
         2012-01-01 04:00:00  53.0   3.0  11.399355  28.304190  21.426052
         2012-01-01 05:00:00  39.0  10.0  10.017576  28.235668  20.994045
         2012-01-01 06:00:00  39.0   5.0   7.250695  28.201863  20.055894
         2012-01-01 07:00:00  30.0   8.0  35.000000  27.701378  19.648136
         2012-01-01 08:00:00  25.0   6.0   5.448925  27.365936  18.862983
         2012-01-01 09:00:00  25.0   9.0   4.358814  26.858654  18.388444
         2012-01-01 10:00:00  22.0  11.0   6.225487  25.898286  17.906945
         2012-01-01 11:00:00  24.0   8.0  36.000000  25.896967  18.285117
         2012-01-01 12:00:00  45.0   5.0  29.000000  26.899567  18.377945
         2012-01-01 13:00:00  54.0   1.0  22.000000  28.341269  18.518025
         2012-01-01 14:00:00  58.0   1.0   5.000000  29.806682  19.312770
         2012-01-01 15:00:00  57.0   1.0   8.550345  32.013349  17.704451
         2012-01-01 16:00:00  55.0   0.0   3.726043  33.719790  15.789854
         2012-01-01 17:00:00  56.0   1.0  18.000000  33.955525  16.525929
         2012-01-01 18:00:00  54.0   2.0  27.000000  32.167338  18.978814
         2012-01-01 19:00:00  56.0   3.0   3.762649  29.346089  22.885541
         2012-01-01 20:00:00  51.0   6.0   3.702777  26.676383  27.773003
         2012-01-01 21:00:00  40.0  13.0  40.000000  24.909381  29.313198
         2012-01-01 22:00:00  40.0   8.0   7.123414  24.588498  27.506139
         2012-01-01 23:00:00  32.0   8.0  19.000000  24.451662  25.507937
         2012-01-02 00:00:00  31.0  11.0  28.000000  24.927125  22.413669
         2012-01-02 01:00:00  28.0   6.0   3.726042  25.405048  18.286509
         2012-01-02 02:00:00  28.0   6.0   5.000000  26.376338  16.232999
         2012-01-02 03:00:00  24.0   4.0   7.000000  28.062510  13.960776
         2012-01-02 04:00:00  23.0   5.0   3.602443  29.531008  11.838022
         2012-01-02 05:00:00  33.0   8.0  14.000000  31.275472   9.644451
...                            ...   ...        ...        ...        ...
36021.0  2016-12-30 19:00:00  49.0   4.0  14.000000  21.132514  40.760457
         2016-12-30 20:00:00  35.0   6.0  16.000000  18.789319  44.676742
         2016-12-30 21:00:00  30.0   2.0  17.000000  18.964631  47.332341
         2016-12-30 22:00:00  25.0   2.0  17.000000  19.297339  44.915678
         2016-12-30 23:00:00  21.0   2.0  15.000000  19.259664  40.384393
         2016-12-31 00:00:00  19.0   1.0  12.000000  19.453457  36.938739
         2016-12-31 01:00:00  16.0   0.0  11.000000  19.600940  34.058368
         2016-12-31 02:00:00  14.0   1.0   8.000000  19.655814  32.406228
         2016-12-31 03:00:00  14.0   0.0  11.000000  19.544006  30.349848
         2016-12-31 04:00:00  12.0   0.0  16.000000  19.275741  28.031565
         2016-12-31 05:00:00  13.0   0.0  14.000000  19.206218  26.714325
         2016-12-31 06:00:00  13.0   0.0   9.000000  18.930693  25.623455
         2016-12-31 07:00:00  14.0   0.0  11.000000  19.152141  25.650080
         2016-12-31 08:00:00  15.0   1.0  13.000000  19.262455  25.608062
         2016-12-31 09:00:00  17.0   0.0  11.000000  19.474596  25.730610
         2016-12-31 10:00:00  18.0   1.0   7.000000  19.464490  26.998069
         2016-12-31 11:00:00  22.0   1.0   8.000000  19.630281  28.534374
         2016-12-31 12:00:00  24.0   1.0   8.000000  20.323821  29.338901
         2016-12-31 13:00:00  36.0   1.0  10.000000  21.471032  31.183993
         2016-12-31 14:00:00  45.0   1.0  12.000000  23.192284  32.177230
         2016-12-31 15:00:00  51.0   0.0  10.000000  24.552406  32.341226
         2016-12-31 16:00:00  60.0   0.0   7.000000  25.986633  30.851603
         2016-12-31 17:00:00  69.0   0.0   6.000000  26.170913  30.795112
         2016-12-31 18:00:00  70.0   1.0   4.000000  24.605255  32.624252
         2016-12-31 19:00:00  50.0   1.0   3.000000  22.095216  36.032582
         2016-12-31 20:00:00  38.0   1.0   2.000000  20.001904  39.038541
         2016-12-31 21:00:00  34.0   2.0   6.000000  19.936422  40.369595
         2016-12-31 22:00:00  32.0   2.0  12.000000  20.083946  40.242540
         2016-12-31 23:00:00  31.0   1.0  10.000000  20.157429  38.748495
         2017-01-01 00:00:00  31.0   0.0   6.000000  20.480935  35.126376

                                                     t+1                   \
                                 PM10_y     PM25_y  O3_x NO2_x     PM10_x
idPolair date
7001.0   2012-01-01 00:00:00        NaN        NaN   NaN   NaN        NaN
         2012-01-01 01:00:00        NaN        NaN   NaN   NaN        NaN
         2012-01-01 02:00:00        NaN        NaN  51.0   4.0   3.726041
         2012-01-01 03:00:00  19.868469  24.000000  53.0   3.0  11.399355
         2012-01-01 04:00:00  19.336220  24.562500  39.0  10.0  10.017576
         2012-01-01 05:00:00  17.597262  24.937500  39.0   5.0   7.250695
         2012-01-01 06:00:00  15.565730  23.562500  30.0   8.0  35.000000
         2012-01-01 07:00:00  15.179060  23.687500  25.0   6.0   5.448925
         2012-01-01 08:00:00  13.679118  23.187500  25.0   9.0   4.358814
         2012-01-01 09:00:00  12.411354  21.937500  22.0  11.0   6.225487
         2012-01-01 10:00:00  11.682202  19.937500  24.0   8.0  36.000000
         2012-01-01 11:00:00  11.522365  18.312500  45.0   5.0  29.000000
         2012-01-01 12:00:00  11.853440  18.875000  54.0   1.0  22.000000
         2012-01-01 13:00:00  12.452628  18.375000  58.0   1.0   5.000000
         2012-01-01 14:00:00  12.158408  18.812500  57.0   1.0   8.550345
         2012-01-01 15:00:00  11.758813  19.250000  55.0   0.0   3.726043
         2012-01-01 16:00:00  11.260203  17.250000  56.0   1.0  18.000000
         2012-01-01 17:00:00  10.420467  15.312500  54.0   2.0  27.000000
         2012-01-01 18:00:00  10.133978  14.437500  56.0   3.0   3.762649
         2012-01-01 19:00:00   9.716472  14.125000  51.0   6.0   3.702777
         2012-01-01 20:00:00  10.704395  17.687500  40.0  13.0  40.000000
         2012-01-01 21:00:00  12.483660  19.562500  40.0   8.0   7.123414
         2012-01-01 22:00:00  13.842447  21.125000  32.0   8.0  19.000000
         2012-01-01 23:00:00  14.059259  20.625000  31.0  11.0  28.000000
         2012-01-02 00:00:00  13.795761  20.437500  28.0   6.0   3.726042
         2012-01-02 01:00:00  12.740550  17.812500  28.0   6.0   5.000000
         2012-01-02 02:00:00  11.895736  17.187500  24.0   4.0   7.000000
         2012-01-02 03:00:00  11.376846  17.400000  23.0   5.0   3.602443
         2012-01-02 04:00:00   9.983379  16.733333  33.0   8.0  14.000000
         2012-01-02 05:00:00   9.061405  13.750000  38.0   6.0  31.000000
...                                 ...        ...   ...   ...        ...
36021.0  2016-12-30 19:00:00  32.744952  40.000000  35.0   6.0  16.000000
         2016-12-30 20:00:00  33.972978  41.062500  30.0   2.0  17.000000
         2016-12-30 21:00:00  36.572913  41.875000  25.0   2.0  17.000000
         2016-12-30 22:00:00  38.081117  43.062500  21.0   2.0  15.000000
         2016-12-30 23:00:00  38.738312  43.875000  19.0   1.0  12.000000
         2016-12-31 00:00:00  36.232622  42.375000  16.0   0.0  11.000000
         2016-12-31 01:00:00  34.422849  39.625000  14.0   1.0   8.000000
         2016-12-31 02:00:00  32.908289  38.562500  14.0   0.0  11.000000
         2016-12-31 03:00:00  31.527098  36.588235  12.0   0.0  16.000000
         2016-12-31 04:00:00  29.111492  33.875000  13.0   0.0  14.000000
         2016-12-31 05:00:00  28.345107  32.687500  13.0   0.0   9.000000
         2016-12-31 06:00:00  27.229578  31.750000  14.0   0.0  11.000000
         2016-12-31 07:00:00  25.798365  31.125000  15.0   1.0  13.000000
         2016-12-31 08:00:00  24.656409  29.437500  17.0   0.0  11.000000
         2016-12-31 09:00:00  24.382406  28.500000  18.0   1.0   7.000000
         2016-12-31 10:00:00  23.052550  28.000000  22.0   1.0   8.000000
         2016-12-31 11:00:00  22.945474  26.875000  24.0   1.0   8.000000
         2016-12-31 12:00:00  24.103003  28.529412  36.0   1.0  10.000000
         2016-12-31 13:00:00  25.526719  31.117647  45.0   1.0  12.000000
         2016-12-31 14:00:00  26.301439  35.705882  51.0   0.0  10.000000
         2016-12-31 15:00:00  27.275286  35.250000  60.0   0.0   7.000000
         2016-12-31 16:00:00  28.671510  35.562500  69.0   0.0   6.000000
         2016-12-31 17:00:00  28.212666  35.375000  70.0   1.0   4.000000
         2016-12-31 18:00:00  28.644752  34.500000  50.0   1.0   3.000000
         2016-12-31 19:00:00  29.065674  34.562500  38.0   1.0   2.000000
         2016-12-31 20:00:00  30.703322  36.125000  34.0   2.0   6.000000
         2016-12-31 21:00:00  31.618271  38.375000  32.0   2.0  12.000000
         2016-12-31 22:00:00  35.093407  42.312500  31.0   1.0  10.000000
         2016-12-31 23:00:00  35.633508  42.647059  31.0   0.0   6.000000
         2017-01-01 00:00:00  36.821238  41.235294  28.0   0.0   7.000000

                              ...         t+2                  t+3             \
                              ...      PM10_y     PM25_y      O3_x      NO2_x
idPolair date                 ...
7001.0   2012-01-01 00:00:00  ...         NaN        NaN  51.00000   4.000000
         2012-01-01 01:00:00  ...   19.868469  24.000000  53.00000   3.000000
         2012-01-01 02:00:00  ...   19.336220  24.562500  39.00000  10.000000
         2012-01-01 03:00:00  ...   17.597262  24.937500  39.00000   5.000000
         2012-01-01 04:00:00  ...   15.565730  23.562500  30.00000   8.000000
         2012-01-01 05:00:00  ...   15.179060  23.687500  25.00000   6.000000
         2012-01-01 06:00:00  ...   13.679118  23.187500  25.00000   9.000000
         2012-01-01 07:00:00  ...   12.411354  21.937500  22.00000  11.000000
         2012-01-01 08:00:00  ...   11.682202  19.937500  24.00000   8.000000
         2012-01-01 09:00:00  ...   11.522365  18.312500  45.00000   5.000000
         2012-01-01 10:00:00  ...   11.853440  18.875000  54.00000   1.000000
         2012-01-01 11:00:00  ...   12.452628  18.375000  58.00000   1.000000
         2012-01-01 12:00:00  ...   12.158408  18.812500  57.00000   1.000000
         2012-01-01 13:00:00  ...   11.758813  19.250000  55.00000   0.000000
         2012-01-01 14:00:00  ...   11.260203  17.250000  56.00000   1.000000
         2012-01-01 15:00:00  ...   10.420467  15.312500  54.00000   2.000000
         2012-01-01 16:00:00  ...   10.133978  14.437500  56.00000   3.000000
         2012-01-01 17:00:00  ...    9.716472  14.125000  51.00000   6.000000
         2012-01-01 18:00:00  ...   10.704395  17.687500  40.00000  13.000000
         2012-01-01 19:00:00  ...   12.483660  19.562500  40.00000   8.000000
         2012-01-01 20:00:00  ...   13.842447  21.125000  32.00000   8.000000
         2012-01-01 21:00:00  ...   14.059259  20.625000  31.00000  11.000000
         2012-01-01 22:00:00  ...   13.795761  20.437500  28.00000   6.000000
         2012-01-01 23:00:00  ...   12.740550  17.812500  28.00000   6.000000
         2012-01-02 00:00:00  ...   11.895736  17.187500  24.00000   4.000000
         2012-01-02 01:00:00  ...   11.376846  17.400000  23.00000   5.000000
         2012-01-02 02:00:00  ...    9.983379  16.733333  33.00000   8.000000
         2012-01-02 03:00:00  ...    9.061405  13.750000  38.00000   6.000000
         2012-01-02 04:00:00  ...    8.250774  12.625000  57.00000   0.000000
         2012-01-02 05:00:00  ...    7.188240  10.937500  54.00000   0.000000
...                           ...         ...        ...       ...        ...
36021.0  2016-12-30 19:00:00  ...   36.572913  41.875000  25.00000   2.000000
         2016-12-30 20:00:00  ...   38.081117  43.062500  21.00000   2.000000
         2016-12-30 21:00:00  ...   38.738312  43.875000  19.00000   1.000000
         2016-12-30 22:00:00  ...   36.232622  42.375000  16.00000   0.000000
         2016-12-30 23:00:00  ...   34.422849  39.625000  14.00000   1.000000
         2016-12-31 00:00:00  ...   32.908289  38.562500  14.00000   0.000000
         2016-12-31 01:00:00  ...   31.527098  36.588235  12.00000   0.000000
         2016-12-31 02:00:00  ...   29.111492  33.875000  13.00000   0.000000
         2016-12-31 03:00:00  ...   28.345107  32.687500  13.00000   0.000000
         2016-12-31 04:00:00  ...   27.229578  31.750000  14.00000   0.000000
         2016-12-31 05:00:00  ...   25.798365  31.125000  15.00000   1.000000
         2016-12-31 06:00:00  ...   24.656409  29.437500  17.00000   0.000000
         2016-12-31 07:00:00  ...   24.382406  28.500000  18.00000   1.000000
         2016-12-31 08:00:00  ...   23.052550  28.000000  22.00000   1.000000
         2016-12-31 09:00:00  ...   22.945474  26.875000  24.00000   1.000000
         2016-12-31 10:00:00  ...   24.103003  28.529412  36.00000   1.000000
         2016-12-31 11:00:00  ...   25.526719  31.117647  45.00000   1.000000
         2016-12-31 12:00:00  ...   26.301439  35.705882  51.00000   0.000000
         2016-12-31 13:00:00  ...   27.275286  35.250000  60.00000   0.000000
         2016-12-31 14:00:00  ...   28.671510  35.562500  69.00000   0.000000
         2016-12-31 15:00:00  ...   28.212666  35.375000  70.00000   1.000000
         2016-12-31 16:00:00  ...   28.644752  34.500000  50.00000   1.000000
         2016-12-31 17:00:00  ...   29.065674  34.562500  38.00000   1.000000
         2016-12-31 18:00:00  ...   30.703322  36.125000  34.00000   2.000000
         2016-12-31 19:00:00  ...   31.618271  38.375000  32.00000   2.000000
         2016-12-31 20:00:00  ...   35.093407  42.312500  31.00000   1.000000
         2016-12-31 21:00:00  ...   35.633508  42.647059  31.00000   0.000000
         2016-12-31 22:00:00  ...   36.821238  41.235294  28.00000   0.000000
         2016-12-31 23:00:00  ...   35.671420  41.562500  26.00000   0.000000
         2017-01-01 00:00:00  ...   34.323873  39.625000  24.85404   8.928602

                                                                          \
                                 PM10_x       O3_y      NO2_y     PM10_y
idPolair date
7001.0   2012-01-01 00:00:00   3.726041  28.301416  23.348355  19.868469
         2012-01-01 01:00:00  11.399355  28.304190  21.426052  19.336220
         2012-01-01 02:00:00  10.017576  28.235668  20.994045  17.597262
         2012-01-01 03:00:00   7.250695  28.201863  20.055894  15.565730
         2012-01-01 04:00:00  35.000000  27.701378  19.648136  15.179060
         2012-01-01 05:00:00   5.448925  27.365936  18.862983  13.679118
         2012-01-01 06:00:00   4.358814  26.858654  18.388444  12.411354
         2012-01-01 07:00:00   6.225487  25.898286  17.906945  11.682202
         2012-01-01 08:00:00  36.000000  25.896967  18.285117  11.522365
         2012-01-01 09:00:00  29.000000  26.899567  18.377945  11.853440
         2012-01-01 10:00:00  22.000000  28.341269  18.518025  12.452628
         2012-01-01 11:00:00   5.000000  29.806682  19.312770  12.158408
         2012-01-01 12:00:00   8.550345  32.013349  17.704451  11.758813
         2012-01-01 13:00:00   3.726043  33.719790  15.789854  11.260203
         2012-01-01 14:00:00  18.000000  33.955525  16.525929  10.420467
         2012-01-01 15:00:00  27.000000  32.167338  18.978814  10.133978
         2012-01-01 16:00:00   3.762649  29.346089  22.885541   9.716472
         2012-01-01 17:00:00   3.702777  26.676383  27.773003  10.704395
         2012-01-01 18:00:00  40.000000  24.909381  29.313198  12.483660
         2012-01-01 19:00:00   7.123414  24.588498  27.506139  13.842447
         2012-01-01 20:00:00  19.000000  24.451662  25.507937  14.059259
         2012-01-01 21:00:00  28.000000  24.927125  22.413669  13.795761
         2012-01-01 22:00:00   3.726042  25.405048  18.286509  12.740550
         2012-01-01 23:00:00   5.000000  26.376338  16.232999  11.895736
         2012-01-02 00:00:00   7.000000  28.062510  13.960776  11.376846
         2012-01-02 01:00:00   3.602443  29.531008  11.838022   9.983379
         2012-01-02 02:00:00  14.000000  31.275472   9.644451   9.061405
         2012-01-02 03:00:00  31.000000  32.530309   9.216114   8.250774
         2012-01-02 04:00:00  11.000000  33.340459   9.058901   7.188240
         2012-01-02 05:00:00   3.719400  33.573976  10.806117   6.853483
...                                 ...        ...        ...        ...
36021.0  2016-12-30 19:00:00  17.000000  19.297339  44.915678  38.081117
         2016-12-30 20:00:00  15.000000  19.259664  40.384393  38.738312
         2016-12-30 21:00:00  12.000000  19.453457  36.938739  36.232622
         2016-12-30 22:00:00  11.000000  19.600940  34.058368  34.422849
         2016-12-30 23:00:00   8.000000  19.655814  32.406228  32.908289
         2016-12-31 00:00:00  11.000000  19.544006  30.349848  31.527098
         2016-12-31 01:00:00  16.000000  19.275741  28.031565  29.111492
         2016-12-31 02:00:00  14.000000  19.206218  26.714325  28.345107
         2016-12-31 03:00:00   9.000000  18.930693  25.623455  27.229578
         2016-12-31 04:00:00  11.000000  19.152141  25.650080  25.798365
         2016-12-31 05:00:00  13.000000  19.262455  25.608062  24.656409
         2016-12-31 06:00:00  11.000000  19.474596  25.730610  24.382406
         2016-12-31 07:00:00   7.000000  19.464490  26.998069  23.052550
         2016-12-31 08:00:00   8.000000  19.630281  28.534374  22.945474
         2016-12-31 09:00:00   8.000000  20.323821  29.338901  24.103003
         2016-12-31 10:00:00  10.000000  21.471032  31.183993  25.526719
         2016-12-31 11:00:00  12.000000  23.192284  32.177230  26.301439
         2016-12-31 12:00:00  10.000000  24.552406  32.341226  27.275286
         2016-12-31 13:00:00   7.000000  25.986633  30.851603  28.671510
         2016-12-31 14:00:00   6.000000  26.170913  30.795112  28.212666
         2016-12-31 15:00:00   4.000000  24.605255  32.624252  28.644752
         2016-12-31 16:00:00   3.000000  22.095216  36.032582  29.065674
         2016-12-31 17:00:00   2.000000  20.001904  39.038541  30.703322
         2016-12-31 18:00:00   6.000000  19.936422  40.369595  31.618271
         2016-12-31 19:00:00  12.000000  20.083946  40.242540  35.093407
         2016-12-31 20:00:00  10.000000  20.157429  38.748495  35.633508
         2016-12-31 21:00:00   6.000000  20.480935  35.126376  36.821238
         2016-12-31 22:00:00   7.000000  20.424826  32.462200  35.671420
         2016-12-31 23:00:00   7.000000  20.313167  30.266414  34.323873
         2017-01-01 00:00:00   4.281237  20.779454  16.109996  18.799123

                                          t+4
                                 PM25_y     y
idPolair date
7001.0   2012-01-01 00:00:00  24.000000   NaN
         2012-01-01 01:00:00  24.562500   NaN
         2012-01-01 02:00:00  24.937500   NaN
         2012-01-01 03:00:00  23.562500   NaN
         2012-01-01 04:00:00  23.687500   NaN
         2012-01-01 05:00:00  23.187500   NaN
         2012-01-01 06:00:00  21.937500   NaN
         2012-01-01 07:00:00  19.937500   NaN
         2012-01-01 08:00:00  18.312500   NaN
         2012-01-01 09:00:00  18.875000   NaN
         2012-01-01 10:00:00  18.375000   NaN
         2012-01-01 11:00:00  18.812500   NaN
         2012-01-01 12:00:00  19.250000   NaN
         2012-01-01 13:00:00  17.250000   NaN
         2012-01-01 14:00:00  15.312500   NaN
         2012-01-01 15:00:00  14.437500   NaN
         2012-01-01 16:00:00  14.125000   NaN
         2012-01-01 17:00:00  17.687500   NaN
         2012-01-01 18:00:00  19.562500   NaN
         2012-01-01 19:00:00  21.125000   NaN

In [87]:
X.head()

                              O3_x  NO2_x  PM10_x       O3_y      NO2_y  \
idPolair date
7004.0   2012-01-01 00:00:00  53.0    7.0     5.0  28.301416  23.348355
         2012-01-01 01:00:00  55.0    6.0     3.0  28.304190  21.426052
         2012-01-01 02:00:00  60.0    5.0     1.0  28.235668  20.994045
         2012-01-01 03:00:00  49.0   12.0     1.0  28.201863  20.055894
         2012-01-01 04:00:00  22.0   31.0     3.0  27.701378  19.648136

                                 PM10_y   PM25_y
idPolair date
7004.0   2012-01-01 00:00:00  19.868469  24.0000
         2012-01-01 01:00:00  19.336220  24.5625
         2012-01-01 02:00:00  17.597262  24.9375
         2012-01-01 03:00:00  15.565730  23.5625
         2012-01-01 04:00:00  15.179060  23.6875

In [88]:
y.head()

                                y
idPolair date
7004.0   2012-01-01 00:00:00  4.0
         2012-01-01 01:00:00  2.0
         2012-01-01 02:00:00  2.0
         2012-01-01 03:00:00  0.0
         2012-01-01 04:00:00  4.0

In [91]:
Xy.corr()

                   t                                                    \
                O3_x     NO2_x    PM10_x      O3_y     NO2_y    PM10_y
t   O3_x    1.000000 -0.450448 -0.248523  0.676096 -0.354556 -0.185556
    NO2_x  -0.450448  1.000000  0.495746 -0.192631  0.483564  0.300047
    PM10_x -0.248523  0.495746  1.000000 -0.149526  0.392432  0.644710
    O3_y    0.676096 -0.192631 -0.149526  1.000000 -0.494859 -0.253241
    NO2_y  -0.354556  0.483564  0.392432 -0.494859  1.000000  0.627121
    PM10_y -0.185556  0.300047  0.644710 -0.253241  0.627121  1.000000
    PM25_y -0.231091  0.277457  0.629290 -0.319789  0.545252  0.924047
t+1 O3_x    0.961012 -0.429296 -0.231109  0.662426 -0.338088 -0.167197
    NO2_x  -0.429325  0.922818  0.451501 -0.187088  0.455341  0.270861
    PM10_x -0.257197  0.512269  0.899254 -0.165113  0.414087  0.635775
    O3_y    0.659097 -0.180392 -0.129277  0.978102 -0.470489 -0.226350
    NO2_y  -0.343619  0.457723  0.354526 -0.480377  0.945521  0.566370
    PM10_y -0.197448  0.315843  0.634751 -0.271045  0.659877  0.985166
    PM25_y -0.239876  0.292573  0.624577 -0.333230  0.576287  0.919461
t+2 O3_x    0.896820 -0.399284 -0.215412  0.626465 -0.303726 -0.148532
    NO2_x  -0.399210  0.831758  0.412308 -0.171127  0.394159  0.239408
    PM10_x -0.253932  0.487856  0.814662 -0.173249  0.412980  0.617040
    O3_y    0.620421 -0.156473 -0.110562  0.923770 -0.420170 -0.199214
    NO2_y  -0.315685  0.396527  0.315433 -0.440824  0.822026  0.501468
    PM10_y -0.200774  0.313541  0.615873 -0.276249  0.655226  0.955215
    PM25_y -0.241807  0.295387  0.612421 -0.337041  0.583864  0.902700
t+3 O3_x    0.823986 -0.369711 -0.203212  0.576470 -0.263931 -0.133869
    NO2_x  -0.369940  0.746528  0.379713 -0.153289  0.322914  0.212499
    PM10_x -0.247355  0.456670  0.759839 -0.174944  0.393284  0.593975
    O3_y    0.568359 -0.129839 -0.097159  0.849083 -0.362431 -0.178213
    NO2_y  -0.283387  0.323697  0.283600 -0.394867  0.678323  0.446909
    PM10_y -0.197521  0.296734  0.594085 -0.271673  0.621464  0.919618
    PM25_y -0.238112  0.288372  0.596775 -0.332286  0.570794  0.879259
t+4 y      -0.256802  0.374290  0.606089 -0.236681  0.406629  0.626594

                           t+1                        ...          t+2  \
              PM25_y      O3_x     NO2_x    PM10_x    ...       PM10_y
t   O3_x   -0.231091  0.961012 -0.429325 -0.257197    ...    -0.200774
    NO2_x   0.277457 -0.429296  0.922818  0.512269    ...     0.313541
    PM10_x  0.629290 -0.231109  0.451501  0.899254    ...     0.615873
    O3_y   -0.319789  0.662426 -0.187088 -0.165113    ...    -0.276249
    NO2_y   0.545252 -0.338088  0.455341  0.414087    ...     0.655226
    PM10_y  0.924047 -0.167197  0.270861  0.635775    ...     0.955215
    PM25_y  1.000000 -0.217412  0.254803  0.621433    ...     0.890206
t+1 O3_x   -0.217412  1.000000 -0.450447 -0.248522    ...    -0.197449
    NO2_x   0.254803 -0.450447  1.000000  0.495746    ...     0.315837
    PM10_x  0.621433 -0.248522  0.495746  1.000000    ...     0.634745
    O3_y   -0.299928  0.676096 -0.192630 -0.149525    ...    -0.271048
    NO2_y   0.499634 -0.354556  0.483561  0.392430    ...     0.659879
    PM10_y  0.912007 -0.185557  0.300041  0.644703    ...     0.985166
    PM25_y  0.970640 -0.231092  0.277453  0.629286    ...     0.912008
t+2 O3_x   -0.203559  0.961012 -0.429295 -0.231108    ...    -0.185558
    NO2_x   0.233078 -0.429324  0.922818  0.451501    ...     0.300036
    PM10_x  0.606900 -0.257196  0.512269  0.899254    ...     0.644697
    O3_y   -0.279961  0.659097 -0.180391 -0.129276    ...    -0.253247
    NO2_y   0.455441 -0.343619  0.457721  0.354524    ...     0.627124
    PM10_y  0.890206 -0.197449  0.315837  0.634745    ...     1.000000
    PM25_y  0.951452 -0.239877  0.292569  0.624573    ...     0.924048
t+3 O3_x   -0.192263  0.896820 -0.399283 -0.215410    ...    -0.167200
    NO2_x   0.216283 -0.399209  0.831758  0.412308    ...     0.270850
    PM10_x  0.589994 -0.253931  0.487856  0.814662    ...     0.635762
    O3_y   -0.263902  0.620422 -0.156471 -0.110561    ...    -0.226356
    NO2_y   0.421952 -0.315686  0.396525  0.315431    ...     0.566372
    PM10_y  0.865108 -0.200775  0.313535  0.615867    ...     0.985166
    PM25_y  0.929171 -0.241808  0.295383  0.612417    ...     0.919462
t+4 y       0.662438 -0.265832  0.394206  0.636517    ...     0.655437

                           t+3                                          \
              PM25_y      O3_x     NO2_x    PM10_x      O3_y     NO2_y
t   O3_x   -0.241807  0.823986 -0.369940 -0.247355  0.568359 -0.283387
    NO2_x   0.295387 -0.369711  0.746528  0.456670 -0.129839  0.323697
    PM10_x  0.612421 -0.203212  0.379713  0.759839 -0.097159  0.283600
    O3_y   -0.337041  0.576470 -0.153289 -0.174944  0.849083 -0.394867
    NO2_y   0.583864 -0.263931  0.322914  0.393284 -0.362431  0.678323
    PM10_y  0.902700 -0.133869  0.212499  0.593975 -0.178213  0.446909
    PM25_y  0.951452 -0.192263  0.216283  0.589994 -0.263902  0.421952
t+1 O3_x   -0.239877  0.896820 -0.399209 -0.253931  0.620422 -0.315686
    NO2_x   0.292569 -0.399283  0.831758  0.487856 -0.156471  0.396525
    PM10_x  0.624573 -0.215410  0.412308  0.814662 -0.110561  0.315431
    O3_y   -0.333232  0.626467 -0.171126 -0.173249  0.923770 -0.440825
    NO2_y   0.576289 -0.303727  0.394157  0.412978 -0.420171  0.822027
    PM10_y  0.919462 -0.148534  0.239403  0.617034 -0.199218  0.501469
    PM25_y  0.970640 -0.203561  0.233075  0.606897 -0.279963  0.455443
t+2 O3_x   -0.231093  0.961012 -0.429323 -0.257195  0.659098 -0.343620
    NO2_x   0.277450 -0.429293  0.922818  0.512269 -0.180390  0.457719
    PM10_x  0.629283 -0.231107  0.451501  0.899254 -0.129276  0.354523
    O3_y   -0.319793  0.662428 -0.187086 -0.165113  0.978102 -0.480379
    NO2_y   0.545256 -0.338090  0.455336  0.414084 -0.470491  0.945521
    PM10_y  0.924048 -0.167200  0.270850  0.635762 -0.226356  0.566372
    PM25_y  1.000000 -0.217415  0.254796  0.621426 -0.299933  0.499637
t+3 O3_x   -0.217415  1.000000 -0.450444 -0.248519  0.676098 -0.354557
    NO2_x   0.254796 -0.450444  1.000000  0.495746 -0.192627  0.483557
    PM10_x  0.621426 -0.248519  0.495746  1.000000 -0.149525  0.392428
    O3_y   -0.299933  0.676098 -0.192627 -0.149525  1.000000 -0.494863
    NO2_y   0.499637 -0.354557  0.483557  0.392428 -0.494863  1.000000
    PM10_y  0.912009 -0.185560  0.300030  0.644691 -0.253251  0.627124
    PM25_y  0.970640 -0.231095  0.277447  0.629280 -0.319795  0.545257
t+4 y       0.692083 -0.266191  0.394111  0.693595 -0.227978  0.388700

                                     t+4
              PM10_y    PM25_y         y
t   O3_x   -0.197521 -0.238112 -0.256802
    NO2_x   0.296734  0.288372  0.374290
    PM10_x  0.594085  0.596775  0.606089
    O3_y   -0.271673 -0.332286 -0.236681
    NO2_y   0.621464  0.570794  0.406629
    PM10_y  0.919618  0.879259  0.626594
    PM25_y  0.865108  0.929171  0.662438
t+1 O3_x   -0.200775 -0.241808 -0.265832
    NO2_x   0.313535  0.295383  0.394206
    PM10_x  0.615867  0.612417  0.636517
    O3_y   -0.276252 -0.337043 -0.240173
    NO2_y   0.655227  0.583866  0.416199
    PM10_y  0.955215  0.902701  0.643415
    PM25_y  0.890207  0.951452  0.678303
t+2 O3_x   -0.197450 -0.239878 -0.271057
    NO2_x   0.315832  0.292566  0.408791
    PM10_x  0.634739  0.624570  0.670103
    O3_y   -0.271052 -0.333234 -0.237587
    NO2_y   0.659879  0.576291  0.411072
    PM10_y  0.985166  0.919462  0.655437
    PM25_y  0.912009  0.970640  0.692083
t+3 O3_x   -0.185560 -0.231095 -0.266191
    NO2_x   0.300030  0.277447  0.394111
    PM10_x  0.644691  0.629280  0.693595
    O3_y   -0.253251 -0.319795 -0.227978
    NO2_y   0.627124  0.545257  0.388700
    PM10_y  1.000000  0.924048  0.658731
    PM25_y  0.924048  1.000000  0.712876
t+4 y       0.658731  0.712876  1.000000

[29 rows x 29 columns]

In [92]:
X.shape

(829395, 7)

In [94]:
In=Xy.iloc[:,:28].values.reshape(Xy.shape[0],4,7)
Out=Xy.iloc[:,28].values.reshape(Xy.shape[0],1)
model = Sequential()
model.add(LSTM(20,input_shape=(4,7),dropout=0.5))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')

In [96]:
model.fit(In,Out,verbose=2,epochs=10)

Epoch 1/10
 - 64s - loss: 84.6523
Epoch 2/10
 - 66s - loss: 83.5356
Epoch 3/10
 - 66s - loss: 82.7300
Epoch 4/10
 - 67s - loss: 82.2786
Epoch 5/10
 - 66s - loss: 82.0187
Epoch 6/10
 - 68s - loss: 81.6577
Epoch 7/10
 - 76s - loss: 81.3772
Epoch 8/10
 - 86s - loss: 81.0720
Epoch 9/10
 - 76s - loss: 80.7465
Epoch 10/10
 - 72s - loss: 80.9281

In [97]:
model.save('fillna/sasa.sav')

In [43]:
model=load_model('fillna/sasa.sav')

In [44]:
model.weights

[<tf.Variable 'lstm_1/kernel:0' shape=(7, 80) dtype=float32_ref>,
 <tf.Variable 'lstm_1/recurrent_kernel:0' shape=(20, 80) dtype=float32_ref>,
 <tf.Variable 'lstm_1/bias:0' shape=(80,) dtype=float32_ref>,
 <tf.Variable 'dense_1/kernel:0' shape=(20, 1) dtype=float32_ref>,
 <tf.Variable 'dense_1/bias:0' shape=(1,) dtype=float32_ref>]

In [22]:
test.head()

                              O3_x  NO2_x     PM10_x       O3_y      NO2_y  \
idPolair date
7001.0   2012-01-01 00:00:00  51.0    4.0   3.726041  28.301416  23.348355
         2012-01-01 01:00:00  53.0    3.0  11.399355  28.304190  21.426052
         2012-01-01 02:00:00  39.0   10.0  10.017576  28.235668  20.994045
         2012-01-01 03:00:00  39.0    5.0   7.250695  28.201863  20.055894
         2012-01-01 04:00:00  30.0    8.0  35.000000  27.701378  19.648136

                                 PM10_y   PM25_y   y
idPolair date
7001.0   2012-01-01 00:00:00  19.868469  24.0000 NaN
         2012-01-01 01:00:00  19.336220  24.5625 NaN
         2012-01-01 02:00:00  17.597262  24.9375 NaN
         2012-01-01 03:00:00  15.565730  23.5625 NaN
         2012-01-01 04:00:00  15.179060  23.6875 NaN

In [62]:
for k in range(4,Xy.shape[0]):
    if(k%10000==0):
        print(k)
    if(np.isnan(Xy.iloc[k,28])):
        seq=Xy.iloc[k,:28].values.reshape(1,4,7)
        Xy.iloc[k,28]=model.predict(seq)[0][0]

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000
1600000
1610000
1620000
1630000
1640000
1650000
1660000
1670000
1680000
1690000
1700000
1710000
1720000
1730000
1740000
1750000
1760000
1770000
1780000
1790000
1800000
1810000
1820000
1830000
1840000
1850000
1860000
1870000
1880000
1890000
1900000
1910000
1920000
1930000
1940000
1950000
1960000
1970000
1980000
1990000
2000000
2010000
2020000
2030000
2040000
2050000
2060000
2070000
2080000
2090000
2100000
2110000
2120000
2130000
2140000
2150000
2160000
2170000
2180000
2190000
2200000
2210000
2220000
2230000
2240000
2250000
2260000
2270000
2280000
2290000
2300000
2310000
2320000
2330000
2340000
2350000
2360000
2370000
2380000
2390000
2400000
2410000
2420000
2430000
2440000
2450000
2460000
2470000
2480000
2490000
2500000
2510000
2520000
2530000
2540000
2550000
2560000
2570000
2580000
2590000
2600000
2610000
2620000
2630000
2640000
2650000
2660000
2670000
2680000
2690000
2700000
2710000
2720000
2730000
2740000
2750000
2760000
2770000
2780000
2790000
2800000
2810000
2820000
2830000
2840000
2850000
2860000
2870000
2880000
2890000
2900000
2910000
2920000
2930000
2940000
2950000
2960000
2970000
2980000
2990000
3000000
3010000
3020000
3030000
3040000
3050000
3060000
3070000
3080000
3090000
3100000
3110000
3120000
3130000
3140000
3150000
3160000
3170000
3180000
3190000
3200000
3210000
3220000
3230000
3240000
3250000
3260000
3270000
3280000
3290000
3300000
3310000
3320000
3330000
3340000
3350000
3360000
3370000
3380000
3390000
3400000
3410000
3420000
3430000
3440000
3450000
3460000
3470000
3480000
3490000
3500000
3510000
3520000
3530000
3540000
3550000
3560000
3570000
3580000
3590000
3600000
3610000
3620000
3630000
3640000
3650000
3660000
3670000
3680000
3690000
3700000
3710000
3720000
3730000
3740000
3750000
3760000
3770000
3780000
3790000
3800000
3810000
3820000
3830000
3840000
3850000
3860000
3870000
3880000
3890000
3900000
3910000
3920000
3930000
3940000
3950000
3960000
3970000
3980000
3990000
4000000
4010000
4020000
4030000
4040000
4050000
4060000
4070000
4080000
4090000
4100000
4110000
4120000
4130000
4140000
4150000
4160000
4170000
4180000
4190000
4200000
4210000
4220000
4230000
4240000
4250000
4260000
4270000
4280000
4290000
4300000
4310000
4320000
4330000
4340000
4350000
4360000
4370000
4380000
4390000
4400000
4410000
4420000
4430000
4440000
4450000
4460000
4470000
4480000
4490000
4500000
4510000
4520000
4530000
4540000
4550000
4560000
4570000
4580000
4590000
4600000
4610000
4620000
4630000
4640000
4650000
4660000
4670000
4680000
4690000
4700000
4710000
4720000
4730000

In [60]:
Xy.iloc[:,28]

idPolair  date
7001.0    2012-01-01 00:00:00     NaN
          2012-01-01 01:00:00     NaN
          2012-01-01 02:00:00     NaN
          2012-01-01 03:00:00     NaN
          2012-01-01 04:00:00     NaN
          2012-01-01 05:00:00     NaN
          2012-01-01 06:00:00     NaN
          2012-01-01 07:00:00     NaN
          2012-01-01 08:00:00     NaN
          2012-01-01 09:00:00     NaN
          2012-01-01 10:00:00     NaN
          2012-01-01 11:00:00     NaN
          2012-01-01 12:00:00     NaN
          2012-01-01 13:00:00     NaN
          2012-01-01 14:00:00     NaN
          2012-01-01 15:00:00     NaN
          2012-01-01 16:00:00     NaN
          2012-01-01 17:00:00     NaN
          2012-01-01 18:00:00     NaN
          2012-01-01 19:00:00     NaN
          2012-01-01 20:00:00     NaN
          2012-01-01 21:00:00     NaN
          2012-01-01 22:00:00     NaN
          2012-01-01 23:00:00     NaN
          2012-01-02 00:00:00     NaN
          2012-01-02 01:00:00     NaN
          2012-01-02 02:00:00     NaN
          2012-01-02 03:00:00     NaN
          2012-01-02 04:00:00     NaN
          2012-01-02 05:00:00     NaN
                                 ...
36021.0   2016-12-30 19:00:00     9.0
          2016-12-30 20:00:00     8.0
          2016-12-30 21:00:00     8.0
          2016-12-30 22:00:00     5.0
          2016-12-30 23:00:00     5.0
          2016-12-31 00:00:00     7.0
          2016-12-31 01:00:00     7.0
          2016-12-31 02:00:00     9.0
          2016-12-31 03:00:00     9.0
          2016-12-31 04:00:00     8.0
          2016-12-31 05:00:00     8.0
          2016-12-31 06:00:00     7.0
          2016-12-31 07:00:00     7.0
          2016-12-31 08:00:00    11.0
          2016-12-31 09:00:00    11.0
          2016-12-31 10:00:00    11.0
          2016-12-31 11:00:00    11.0
          2016-12-31 12:00:00     6.0
          2016-12-31 13:00:00     6.0
          2016-12-31 14:00:00     3.0
          2016-12-31 15:00:00     3.0
          2016-12-31 16:00:00     2.0
          2016-12-31 17:00:00     2.0
          2016-12-31 18:00:00     4.0
          2016-12-31 19:00:00     4.0
          2016-12-31 20:00:00     2.0
          2016-12-31 21:00:00     2.0
          2016-12-31 22:00:00     4.0
          2016-12-31 23:00:00     4.0
          2017-01-01 00:00:00     NaN
Name: (t+4, y), Length: 4735686, dtype: float64

In [63]:
Xy.isnull().sum()

t    O3_x      3
     NO2_x     3
     PM10_x    3
     O3_y      3
     NO2_y     3
     PM10_y    3
     PM25_y    3
t+1  O3_x      2
     NO2_x     2
     PM10_x    2
     O3_y      2
     NO2_y     2
     PM10_y    2
     PM25_y    2
t+2  O3_x      1
     NO2_x     1
     PM10_x    1
     O3_y      1
     NO2_y     1
     PM10_y    1
     PM25_y    1
t+3  O3_x      0
     NO2_x     0
     PM10_x    0
     O3_y      0
     NO2_y     0
     PM10_y    0
     PM25_y    0
t+4  y         4
dtype: int64

In [65]:
yy=pd.DataFrame(Xy['t+4']['y'])

In [67]:
yy=yy.fillna(method='ffill').fillna(method='bfill')

In [68]:
yy.isna().any()

y    False
dtype: bool

In [70]:
n.head()

                                O3   NO2       PM10  PM25
idPolair date
7001.0   2012-01-01 00:00:00  51.0   4.0   3.726041   NaN
         2012-01-01 01:00:00  53.0   3.0  11.399355   NaN
         2012-01-01 02:00:00  39.0  10.0  10.017576   NaN
         2012-01-01 03:00:00  39.0   5.0   7.250695   NaN
         2012-01-01 04:00:00  30.0   8.0  35.000000   NaN

In [71]:
n=pd.merge(n,yy,left_index=True,right_index=True,how='left')

In [74]:
n['PM25']=n['y']
del n['y']

In [76]:
n.to_csv('fillna/final.csv')